<div <% if @error %>class="invalid-field"<%end%>>
  <input
    type="<%= @type %>"
    id="<%= @id %>"
    name="<%= @name %>"
    class="text-control<% if @size %> text-control--<%= @size %><% end %><% if @error %> invalid<% end %> <%= @class %>"
    <% if @error %>aria-invalid="true"<% end %>
    <% if @required %>required<% end %>
    <% if @autofocus %>autofocus<% end %>
    <% @attrs.each do |k, v| %>
      <%= k %>="<%= v %>"
    <% end %> />
  <% if @error %><div class="input-error-message"><%= @error %></div><% end %>
</div>
