<%= render "edit", title: "Update gender details" do |f| %>
  <div data-controller="edit-gender-form" class="space-y-1">
    <div>
      <%= f.label :gender do %>Gender<% end %>
      <%= f.select :gender, options_for_select(
          [
            ["I'd rather not say", ""],
            ["Female", "female"],
            ["Male", "male"],
            ["Other", "other"],
          ], @user.gender.in?([nil, "", "male", "female"]) ? @user.gender.to_s : "other"
        ), {}, autofocus: true, class: "text-control", "data-edit-gender-form-target" => "select", "data-action" => "input->edit-gender-form#update"
      %>
    </div>

    <div data-edit-gender-form-target="other" style="display: none">
      <label for="other_gender">Other gender name</label>
      <%= render TextFieldComponent.new(
          id: "other_gender",
          name: "",
          value: !@user.gender.in?(["male", "female"]) ? @user.gender : "",
          "data-edit-gender-form-target" => "otherField"
        )
      %>
    </div>

    <div data-edit-gender-form-target="pronouns" style="display: none">
      <%= f.label :pronouns do %>Pronouns<% end %>
      <%= f.select :pronouns, options_for_select(
          [
            ["she / her / hers", "feminine"],
            ["he / him / his", "masculine"],
            ["they / them / theirs", "neutral"],
          ], @user.pronouns
        ), {}, class: "text-control"
      %>
    </div>
  </div>

  <details>
    <summary>How are your gender details used?</summary>
    <ul>
      <li>To refer to you with the appropriate pronouns.</li>
      <li>If you use <i>OpenID Connect</i>, the website you sign in to may ask for your gender. You may then refuse to share it.</li>
    </ul>
  </details>
<% end %>
